.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .title{
    color: darkred;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #question {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    color: crimson;
  }
  